<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Logged Cases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logged Cases</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row *ngIf="loading">
      <ion-col :span="12" align="center" class="ion-padding">
        <ion-spinner color="primary"> </ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4" class="ion-no-padding ion-no-margin" *ngIf="reports">
        <ion-card *ngFor="let report of reports.included">
          <ion-card-header>
            <ion-img
              src="https://maps.googleapis.com/maps/api/staticmap?center={{report.attributes.latitude}}
             ,{{report.attributes.longitude}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{report.attributes.latitude}}
             ,{{report.attributes.longitude}}&key=AIzaSyD8KYUm6LCGPw8yzcdoDBszbMErYqMw3PI"
              class="ion-no-padding ion-no-margin"
            ></ion-img>

            <ion-card-title class="ion-text-center"># {{report.id}} </ion-card-title>
            <!-- <ion-button fill="outline" color="success">Pending</ion-button> -->
          </ion-card-header>

          <ion-card-content>
            <h2>
              {{report.attributes.description}}
            </h2>
            <h5>{{report.attributes.address}}</h5>
          </ion-card-content>

          <ion-item>
            <!-- <ion-icon name="pin" slot="start" color="primary">hii</ion-icon> -->
            <ion-label style="color: grey; font-size: small;">{{formatDate(report.attributes.created_at)}}</ion-label>
            <!-- <ion-button fill="outline" slot="end">Pending</ion-button> -->
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
