<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Logged Cases
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Logged Cases</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-img src="https://maps.googleapis.com/maps/api/staticmap?center=40.702147,-74.015794&zoom=11&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C40.702147,-74.015794&markers=color:red%7Clabel:S%7C40.749825,-73.987963&path=color:0x0000ff|weight:5|40.702147,-74.015794|40.749825,-73.987963
                                                                                     &key=AIzaSyD8KYUm6LCGPw8yzcdoDBszbMErYqMw3PI" class="ion-no-padding"></ion-img>

            <ion-card-title class="ion-text-center">#111222
            </ion-card-title>
            <ion-button fill="outline" color="success">Pending</ion-button>
        </ion-card-header>

        <ion-card-content>
            <h2>
                Keep close to Nature's heart... and break clear away, once in awhile,
                                                                             and climb a mountain or spend a week in the woods. Wash your spirit clean.</h2>
        </ion-card-content>

        <ion-item>
            <ion-icon name="pin" slot="start" color='danger'></ion-icon>
            <ion-label>Labels</ion-label>
            <ion-button fill="outline" slot="end">View Chat</ion-button>
        </ion-item>

    </ion-card>


</ion-content>
